body {
  background: skyblue;
  margin-left: 8px;
  margin-right: 10px;
  height: 1100px;
}

#mainhead {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  text-shadow: 11px 7px 1.75px #0000006b;
}

.searchit {
  background: darkorchid;
  padding: 5px 5px 5px 5px;
  position: sticky;
  top: 0;
}

.inline {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 30px;
  text-shadow: 11px 7px 1.75px #0000006b;
  position: relative;
}

nav ul {
  padding: 0;
  list-style: none;
  position: absolute;
  left: 100px;
  top: 27px;
}

nav ul li {
  display: inline;
  padding-left: 20px;
}

nav ul li a {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 500;
  text-decoration: none;
  color: whitesmoke;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}
